.battleRound{
	width:80%;
	margin:0 auto;
}

.battleRound .roundTitle {
	text-align:center;
	font-weight:bold;
	color:#A57B43;
}

.battleRound .roundDetail.mine{
	text-align:left;
}

.battleRound .roundDetail.enemy{
	text-align:right;
}

.battleRound .roundDetail.mine.hit{
	color:#4C3ADE;
}

.battleRound .roundDetail.enemy.hit{
	color:#f00;
}

.battleRound .roundDetail.miss{
	color:#bbb;
}

.close-battle{
	background-color:#888;
	color:#fff;
	font-size:1.2em;
	line-height:30px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.skill .skill_level{
	vertical-align: super;
	font-size:.5em;
	color: #13AA4D;
}
.close-battle:hover{
	background-color:#333;
	
}

.winner-text{
	color:#008844;
	font-size:1.3em;
}

.loser-text{
	color:#FF0000;
	font-size:1.3em;
}

/* Battle CSS */

#battle_info #my_info{
	float:left;	
	width:330px;
	height:200px;
	padding:50px 20px;
	border-right:1px solid #00f;
	border-top:1px solid #00f;
	border-bottom:1px solid #00f;
	text-align:left;
}

#battle_info #enemy_info{
	float:right;
	width:330px;
	height:200px;
	padding:50px 20px;
	border-left:1px solid #f00;
	border-top:1px solid #f00;
	border-bottom:1px solid #f00;

	text-align:right;
}

#battle_info .photo{
	border:1px solid #000;
	height:100px;
	width:100px;
	margin:0 auto;
}

#battle_info #battle_stage{
	 border: 1px solid #000000;
    height: 240px;
    left: 50%;
    margin-left: -210px;
    position: absolute;
    width: 420px;
}

#battle_info .powerBar{
	line-height: 8px;
    margin-top: 10px;
}
#battleResult{
	padding:10px;height:150px;
}
.effect,.myEffect,.enemyEffect{
    position: absolute;
}

.skillZone{
	text-align:center;
}

#my_info .dmgShow{
	font-size:2em;width:50px;margin-left:250px;margin-top:50px;position:absolute
}

#enemy_info .dmgShow{
	font-size:2em;width:50px;margin-right:250px;margin-top:50px;position:absolute
}

.dmgShow.miss{
	color:#cbcbcb;
}

.dmgShow.use{
	color:#f00;
}
.dmgShow.get{
	color:#0f0;
}
