#charCanvas{
	width:100%;
	height:100%;
	position:absolute;
	top:0;left:0;
	
	/*margin:-1px;
	border:1px solid #f00;*/
}

#charCanvas .Character{
    width:32px;
    height:32px;
    position:absolute;
    z-index:9;
    visibility:visible;
    background:transparent no-repeat center;
    background-position:-128px 0px;
    background-image:url('../img/char/99.gif');
}

#charCanvas .Character .name {
    color:#fff;
    text-shadow:1px 1px 3px #000000;
    font-size:11px;
    width:100px;
    max-height:15px;
    overflow:hidden;                
    margin-left:-34px;
    margin-top:30px;
    text-align:center;
}

#charCanvas .Character.me .name {
    color:#08FFB1;
}

#charCanvas .Character.gm .name {
	color:#fc0;
}

/*-----------------------------------------------------------------------------*/
/*------------------------- Start Status Style -------------------------*/
/*-----------------------------------------------------------------------------*/
td.width1-6{
	width:16.66%;	
	vertical-align:middle;
	border: 2px outset;
	line-height:20px;
}

tr.height20{
	height:20px;	
}
tr.height30{
	height:30px;	
}
tr.height60{
	height:60px;	
}
td.bold{
	font-weight:bold;	
}
td.str-table:hover,td.int-table:hover,td.agi-table:hover,td.vit-table:hover,td.dex-table:hover,td.luk-table:hover{
	color:#fff;
}
td.str-table{border-color:#F36;}
td.str-table:hover{background-color:#F36;}

td.int-table{border-color:#39C;}
td.int-table:hover{background-color:#39C;}

td.agi-table{	border-color:#3C6;}
td.agi-table:hover{background-color:#0E6F2D;}

td.dex-table{	border-color:#F6C;}
td.dex-table:hover{	background-color:#F6C;}

td.luk-table{	border-color:#FC0;}
td.luk-table:hover{	background-color:#CFB018;}

td.vit-table{	border-color:#93F;}
td.vit-table:hover{	background-color:#93F;}

.addStat{
	line-height:10px;
	font-size:10px;
	display:inline-block;
	height:10px;
	width:10px;
	padding:0px;
	margin:0px 5px 0px 5px;
	border:1px solid #000;
	color:#fff;
	background-color:#0095FF;
	cursor:pointer;
}

.Character .chat {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
    border: 1px solid #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    font-size: 1em;
    line-height: 25px;
    max-height:25px;
    overflow:hidden;
    margin-left: -10px;
    position: absolute;
    margin-top: -70px;
    padding: 0 5px;
    min-width:40px;
}
.Character .chat *{
	width:100%;
	text-align:center;
}

.Character .chat.mine *{
	color:#fc0;
}
/*-----------------------------------------------------------------------------*/
/*------------------------- End Status Style -------------------------*/
/*-----------------------------------------------------------------------------*/
