#skill_info{
	width:800px;
	margin:0 auto;
	height:500px;
}
#skill_info .skill_rows{
	width:100%;
}
#skill_info .skill_rows:hover{
	background-color:#dbdbdb;
}

#skill_info .skill_rows .image{
	width:80px;
	height:80px;
	margin:10px;
	display:block;
	float:left;
}

#skill_info .skill_rows .detail{
	width:650px;
	/*height:80px;*/
	margin:10px 0;
	display:block;
	float:left;
}
